@model Test_Project.Models.Category

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete @Html.DisplayFor(model => model.CategoryName) Category?</h3>
<div>
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index","Category",new {@class="btn btn-secondary"})
        </div>
    }
</div>
